@media all and (max-width: 1023px) {
  .bg-image {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('../../assets/bg-sidebar-mobile.svg');
    background-color: #f0f6ff;
  }
}
